@model ProjektDB.Models.Users

@{
    ViewData["Title"] = "Logga in";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Login" method="post">
    <div>
        <label for="Username">Användarnamn</label>
        <input type="text" id="Username" asp-for="Username" required />
    </div>
    <div>
        <label for="Password">Lösenord</label>
        <input type="password" id="Password" asp-for="Password" required />
    </div>

    @if (ViewBag.ErrorMessage != null)
    {
        <div style="color: red;">
            @ViewBag.ErrorMessage
        </div>
    }

    <button type="submit">Logga in</button>
</form>

<div>
    <p>Har du inte ett konto? <a href="@Url.Action("Register", "Login")">Registrera dig här</a></p>
</div>
