
@{
    ViewData["Title"] = "Sänka Skepp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/game.css" />

<div class="game-container">
    <div class="playerBoard">
        <h3>Ditt bräde</h3>
        <div id="player-board" class="board"></div>
        <div class="placement-controls">
            <label for="coordinates">Ange koordinater:</label>
            <input type="text" id="coordinates" placeholder="Ex: 1,1-1,5" />
            <button id="placeShipManualBtn" class="btn">Placera Skepp</button>
        </div>
    </div>
    <div class="opponentBoard">
        <h3>Motståndarens bräde</h3>
        <div id="opponent-board" class="board"></div>
        <button id="fireShotBtn" class="btn">Skjut!</button>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
<script src="~/js/gameHub.js"></script>
